@font-face {
    font-family: "misans-m";
    src: url("misans-m-fh.woff2") format("woff2"),
    url("misans-m-2500.woff2") format("woff2");
    url("misans-m-ex1000.woff2") format("woff2");
}

/*@font-face {*/
/*    font-family: "misans-r";*/
/*    src: url("misans-r.ttf");*/
/*}*/

/*@font-face {*/
/*    font-family: "misans-n";*/
/*    src: url("misans-n.ttf");*/
/*}*/

@font-face {
    font-family: "tnr";
    src: url("tnr.woff2");
}
